<template name="header">
  <h3 class="player-alias">Hello {{currentUser.profile.alias}}</h3>
  <input class="alias-edit hidden" type="text" spellcheck="false" autofocus="false" value="{{currentUser.profile.alias}}" />
  <p>{{lobbySize}} in lobby.</p>
  <table class="player-list">
    {{#each usersInLobby}}
      <tr><td>{{profile.alias}}</td></tr>
    {{/each}}
  </table>
</template>

<template name="chat">
  <h1>Chat Area</h1>
  <div class="chat-wrap">
    {{> messages}}
  </div>
  <form id="chat-form" action="action" name="chatForm">
    <textarea id="chat-input" name="chatMessage" placeholder="Enter your message"></textarea>
    <span id='chatMessage-error'></span>
    <div class="align-right"><input type="submit" id="chat-submit" value="Send"/></div>
  </form>
</template>

<template name="content">
  <div class="flex-wrap">
    <h1>Game Name</h1>
    {{> loginButtons}}
  </div>
  {{> game}}
</template>

<template name="messages">
  {{#if messages}}
    {{#each messages}}
        <span><strong>{{name}}</strong>&#58; {{message}}</span><br/>
    {{/each}}
  {{else}}
    Enter a message to begin chatting.
  {{/if}}
</template>
