<template name="header">
  <h1>Hello {{currentUser.profile.alias}}</h1>
  <p>{{lobbySize}} in lobby.</p>
  <table class="player-list">
    {{#each usersInLobby}}
      <td>{{profile.alias}}</td>
    {{/each}}
  </table>
</template>

<template name="chat">
  <h1>Chat Area</h1>
  <div class="chat-wrap">
    {{> messages}}
  </div>
  <form id="chat-form" action="action" name="chatForm">
    <textarea id="chat-input" name="chatMessage" placeholder="Enter your message"></textarea>
    <span id='chatMessage-error'></span>
    <div class="align-right"><input type="submit" id="chat-submit" value="Send"/></div>
  </form>
</template>

<template name="content">
  <div class="flex-wrap">
    <h1>Game Name</h1>
    {{> loginButtons}}
  </div>
  {{> game}}
</template>

<template name="messages">
  <p>
    {{#if messages}}
      {{#each messages}}
        <strong>{{name}}</strong>&#58; {{message}}<br/>
      {{/each}}
    {{else}}
      Enter a message to begin chatting.
    {{/if}}
  </p>
</template>
