<template name="home">
  <h1>Welcome!</h1>
  <p>This is a proof of concept, demonstrating the creation of interactive multiplayer lobbies on demand. This demo is not optimized for mobile, so using a laptop or desktop is recommended.</p>
  <p>You can access the lobby by logging in as a demo user. Demo users 1 through 4 are available. The demo emails are in the format <b>demoX@campbellized.com</b> where X is the user number. The demo password is <b>letsplay</b></p>
  <div style="float: right;"><a href="https://github.com/campbellized/phaser-game-lobby">Source code</a></div>
  {{> loginButtons}}
</template>
