@import "../lib/variables";

body.sidebar {
  display: flex;
  flex-direction: row;
  //@include justify-content(center);
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;

    height: 100vh;

    .container {
      width: auto;
      background: #fff;
      border: $base-border;
      position: relative;
      z-index: 10;
      .flex-wrap{
        display: flex;
        justify-content: space-between;
      }
      #gameContainer{
        height: 450px;
        width: 600px;
        content:"sign in to play";
      }
    }
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 100vh;
    max-height: 100vh;
    background: #fff;
    border-left: $base-border;
    position: relative;
    z-index: 10;

    .container {
      width: 100%;
      padding: 2em;
      &.top {
        flex: 1;
        border-bottom: $base-border;
        .player-alias{
          cursor: pointer;
          &.hidden{
            display:none;
          }
          &:after{
            font-family: "FontAwesome";
            content: "\f040";
            padding-left: 0.25em;
          }
        }
        .alias-edit{
          padding: 0;
          box-shadow: none;
          border-radius: 0;
          border: none;
          border-bottom: $base-border;
          &.hidden{
            display:none;
          }
        }
        .player-list{
          td{
            padding:0.25em 0.5em;
            font-size: 0.75em;
            border: 1px solid #c0c0c0;
            border-bottom: 0;
            width: 100%;
            &:nth-child(1){
              background-color: #C88DBD;
            }
            &:nth-child(2){
              background-color: #EFBB62;
            }
            &:nth-child(3){
              background-color: #E5EF53;
            }
            &:nth-child(4){
              background-color: #9EEA92;
            }
            &:last-of-type{
              border-bottom: 1px solid #c0c0c0;
            }
          }
        }
      }
      &.bottom {
        flex: 2;
        display: flex;
        flex-direction: column;
        .chat-wrap{
          border: 1px solid #c4c4c4;
          border-radius: 3px;
          margin-bottom: 0.75em;
          padding:0.5em;
          overflow-y: auto;
          height: em(200);
          font-size: 0.75em;
          span{
            margin-bottom: 0;
          }
        }
        #chat-form{
          font-size: 0.75em;
          flex: 1;
        }
      }
    }
  }
  &::after {
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(46, 120, 112, 0.25);
    position: absolute;
    top: 0;
    left: 0;
  }
}
