@import "bourbon/bourbon";
@import "bitters/base";
@import "../lib/variables";

body.sidebar {
  @include display(flex);
  @include flex-direction(row);
  //@include justify-content(center);
  .main {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include flex(3);

    height: 100vh;

    .container {
      width: auto;
      background: #fff;
      border: $base-border;
      position: relative;
      z-index: 10;
    }
  }
  .sidebar {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1);

    height: 100vh;
    background: #fff;
    border-left: $base-border;
    position: relative;
    z-index: 10;

    .container {
      width: 100%;
      padding: 2em;
      &.top {
        @include flex(1);
        border-bottom: $base-border;
      }
      &.bottom {
        @include flex(2);
      }
    }
  }
  &::after {
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(46, 120, 112, 0.25);
    position: absolute;
    top: 0;
    left: 0;
  }
}
